[submodule "pyecsca/ec/std"]
	path = pyecsca/ec/std
	url = https://github.com/J08nY/std-curves
	branch = data
[submodule "notebook"]
	path = notebook
	url = https://github.com/J08nY/pyecsca-notebook
[submodule "pyecsca/ec/efd"]
	path = pyecsca/ec/efd
	url = https://github.com/J08nY/efd
