[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose2 = "*"
green = "*"
mypy = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
coverage = "*"

[packages]
numpy = "*"
scipy = "*"
atpublic = "*"
matplotlib = "*"
cython = "*"
fastdtw = "*"
parameterized = "*"
asn1crypto = "*"

[requires]
python_version = "3.8"
